.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.headerTitle span {
  color: var(--primary-red);
}

.headerSubtitle {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}

.sectionDescription {
  max-width: 56rem; 
  margin-top: 0.5rem; 
}
