.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.link:hover {
  color: var(--primary-red);
  text-shadow: 0 0 10px rgba(155, 44, 44, 0.8),
  0 0 20px rgba(155, 44, 44, 0.6),
  0 0 30px rgba(155, 44, 44, 0.4); 
}

.activeLink {
  font-weight: bold;
  color: var(--primary-red);
}
